*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;

}

/*-----------Start Heading Section------------*/

.top-section{
    background-image: url(images/donation-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    justify-content: center;
    
}
.banner-section{
    color: white;

}
.banner-section h1{
    font-size: 80px;
    text-align: center;
    
}
.banner-section p{
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin-left: 320px;
    padding-bottom: 50px;
}
.heading-text{
    padding-top: 100px;
}
.donate-button{
    text-decoration: none;
    margin-left: 550px;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 40px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

/*-----------Start Donate Today Section------------*/

.donate-today p{
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin-left: 320px;
    padding-bottom: 50px;
}
.donate-today h2{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
}
.flexible-container{
    display: flex;
    margin-left: 360px;
    margin-bottom: 30px;

}

#donate1{
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 234, 234);

}
#donate2 {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 234, 234);
    border: 3px solid rgb(245, 81, 81);

}
#donate3 {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 234, 234);

}
#donate4 {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 234, 234);

}
#donate5 {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 234, 234);

}
.donate-amount{
    font-size: 25px;
    font-weight: 800;
    padding-top: 35px;
}
.donate-amount-select {
    font-size: 25px;
    font-weight: 800;
    padding-top: 35px;
    color: rgb(245, 81, 81);
}
.input-other-ammount{
    width: 600px;
    height: 30px;
    margin-left: 360px;
    margin-bottom: 10px;
    border: none;
}
.input-border{
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 50px;
}

/*-----------Start Donate Today Section------------*/
.donate-plan-section {
    margin-top: -20px;
}
.donate-plan-header-text{
    margin-top: 50px;
}
.donate-plan{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.donate-plan img{
    padding: 15px;
}
.donate-plan h3{
    font-size: 30px;
    padding: 10px;

}
.donate-plan p{
    font-size: 20px;
    padding: 10px;
    
}
#donate-plan-food{
    margin-right: 10px;
    width: 70%;
    height: 340px;
    background-color: bisque;
    box-shadow: 10px 10px 16px rgb(221, 218, 218);
    border-radius: 10px;
    border-left: 5px solid blue;

}
#donate-plan-cloth {
    margin-right: 10px;
    width: 70%;
    height: 340px;
    background-color: rgb(195, 236, 113);
    box-shadow: 10px 10px 16px rgb(221, 218, 218);
    border-radius: 10px;
    border-left: 5px solid tomato;

}
#donate-plan-home {
    margin-right: 10px;
    width: 70%;
    height: 340px;
    background-color: rgb(87, 190, 231);
    box-shadow: 10px 10px 16px rgb(221, 218, 218);
    border-radius: 10px;
    border-left: 5px solid orange;

}

.newslatter {
    width: 80%;
    height: 200px;
    margin-left: 100px;
    background-color: rgb(200, 238, 230);
    border-radius: 5px;
    border: 1px solid rgb(197, 193, 193);
    

}

.input-form{
    margin-top: 80px;
    padding-left: 170px;

}

.input-field {
    padding: 10px 100px;
    margin-left: 160px;


}

.sub-button {
    background-image: linear-gradient(tomato, orange);
    border: none;
    padding: 12px 30px;
    margin-left: -5px;
    border-radius: 5px;

}

.footer{
    margin-top: 100px;
    background-color: black;
}
.footer h1{
    text-align: center;
    color: tomato;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}
.footer p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
}
.join-us-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.join-us-title h2 {
    font-size: 50px;
    font-weight: 800;
    color: black;
    padding-top: 20px;

}
.join-us-title h3{
    font-size: 30px;
    font-weight: 800;
    color: rgb(83, 3, 14);
}
.join-us{
    display: flex;
    width: 100%;
    margin-left: 50px;
}
.half-width{
    width: 50%;
    margin-top: 20px;
}
.join-us-video img{
    width: 65%;
}
#donation{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    box-shadow: 7px 7px 14px gray ;
    width: 50%;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    padding-left: 10px;

}
#donation h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
    
}
#volunteer {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    box-shadow: 7px 7px 14px gray;
    width: 50%;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    padding-left: 10px;

}
#volunteer h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;

}
#volunteer img{
    width: 15%;
}

#sponsorship {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    box-shadow: 7px 7px 14px gray;
    width: 50%;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    padding-left: 10px;

}

#sponsorship h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;

}
#sponsorship img {
    width: 15%;
}

